[Unit]
Description=RTL_433 Weather Flask Rest
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/weatherBridge/rtl_433/launch_rest.sh > /tmp/rtl433_rest.log

[Install]
WantedBy=multi-user.target
